<<<<<<< HEAD
#home-header,
=======
#home-heading,
>>>>>>> 956fba5c3e37223177728698a58d59d22a200e39
#home-links {
	background-color: #a5b7d4;
}
#home-links {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 10%;
	width: 26%;
	text-align: center;
	justify-content: space-between;
	height: 80%;
}
